.home-page-content {
    text-align: center;

    h1 {
        font-size: 80px;
        font-family: $pressStartFont;
        margin-bottom: 15px;
    }
    h3 {
        font-size: 30px;
        font-family: $kumbhFont;
        margin-bottom: 15px;
    }

    .home-page-data-container {
        padding: 20px 0;
        border-radius: 20px;

        .home-page-data-title {
            font-size: 50px;
            margin-bottom: 15px;
        }
    }
}

.code-input {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    width: 5em;
}

.code-input-cont, .region-cont {
    margin: 2em 0;
}

.change-game-text {
    margin-top: 1em;
    font-size: 16px;
}